#statuses {
  margin: 2%;
}

.status {
  width: 100%;
  height: 100%;
}

.user {
  margin: 2%;
}

.user img {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}

.user-on {
  color: green;
}

.user-off {
  color: red;
}

.info {
    color: #B0C4DE;
    font-size: 70%;
}
